<a href="https://colab.research.google.com/github/rohanbigdata/rohanbigdata/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sorted_check(input_list):
  k=0
  for i in range (len(input_list)-1):
    if(input_list[i]<=input_list[i+1]):
      pass
    else:
      k=1
      break
  return k==0
print(sorted_check([1,3,2,4,5]))

False

In [ ]:
# Converting an Integer into Decimals
import decimal
integer = 11
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

11
<class 'decimal.Decimal'>

In [ ]:
# Converting an Integer into Decimals
integer = 10
decimal_number = float(integer)
print(decimal_number)
print(type(decimal_number))

10.0
<class 'float'>

In [ ]:
#2. Converting an String of Integers into Decimals
import decimal
string = '12345'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

In [ ]:
string = '12345'
decimal_number = float(string)
print(decimal_number)
print(type(decimal_number))

12345.0
<class 'float'>

In [ ]:
#3. Reversing a String using an Extended Slicing Technique

string = "Python Programming"
print(string[::-1])

# This line prints a reversed version of the string string. Let's break down string[::-1]:

# The first colon : indicates that we're specifying a slicing operation.
# The first blank position before the colon means we're not specifying a starting index, so it starts from the beginning of the string.
# The second blank position after the colon means we're not specifying an ending index, so it goes up to the end of the string.
# The -1 after the second colon indicates the step size. A step size of -1 means we're iterating over the string in reverse.
# So, string[::-1] slices the entire string string in reverse order, resulting in the reversed string being printed, which is "gnimmargorP nohtyP"

gnimmargorP nohtyP

In [ ]:
#4. Counting Vowels in a Given Word

vowel = ['a', 'e', 'i', 'o', 'u']
word = "programming"
count = 0
for character in word:
    if character in vowel:
        count += 1
print(count)


# Finally, outside the loop, the total count of vowels found in the word is printed.
# So, when you run this code, it will output `3`, which represents the total number of vowels ('o', 'a', 'i') found in the word "programming".

3

In [ ]:
#5. Counting Consonants in a Given Word

vowel = ['a','e','i','o','u']
word = "programming"
count = 0
for letters in word:
  if letters not in vowel:
      count +=1
print(count)

8

In [ ]:
#6. Counting the Number of Occurances of a Character in a String

word = "pythonproggramming"
character = "p"
count = 0
for letter in word:
  if letter == character:
    count += 1

print(count)

2

In [ ]:
#7. Writing Fibonacci Series

fib = [0,1]
# Range starts from 0 by default
for i in range(6):
    fib.append(fib[-1] + fib[-2])

print(fib)

# Converting the list of integers to string
print(', '.join(str(e) for e in fib))

[0, 1, 1, 2, 3, 5, 8, 13]
0, 1, 1, 2, 3, 5, 8, 13

In [ ]:
#8. Finding the Maximum Number in a List

numberList = [15,85,35,89,125]

maxNum = numberList[0]
for num in numberList:
  if maxNum < num:
    maxNum = num

print(maxNum)

125

In [ ]:
#9. Finding the Minimum Number in a List
numberList = [15, 85, 35, 89, 125, 2]

minNum = numberList[0]
for num in numberList:
  if minNum > num:
    minNum = num

print(minNum)

# Iteration 1: num = 15
# Since minNum (which is 15) is not greater than 15, the condition if minNum > num is false. So, we don't update minNum.

# Iteration 2: num = 85
# Since minNum (which is 15) is less than 85, the condition if minNum > num is false. So, we don't update minNum.

# Iteration 3: num = 35
# Since minNum (which is still 15) is less than 35, the condition if minNum > num is false. So, we don't update minNum.

# Iteration 4: num = 89
# Since minNum (which is still 15) is less than 89, the condition if minNum > num is false. So, we don't update minNum.

# Iteration 5: num = 125
# Since minNum (which is still 15) is less than 125, the condition if minNum > num is false. So, we don't update minNum.

# Iteration 6: num = 2
# Since minNum (which is still 15) is greater than 2, the condition if minNum > num is true. So, we update minNum to be equal to 2.

2

False

In [ ]:
#10. Finding the Middle Element in a List

numList = [1,2,3,4,5]
midElemnt = int(len(numList)/2)

print(numList[midElemnt])

3

In [ ]:
#11. Converting a List into a String
lst = ["P", "Y", "T", "H", "O", "N"]
string = ''.join(lst)

print(string)
print(type(string))

PYTHON
<class 'str'>

In [ ]:
#12. Adding Two List Elements Together
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]

res_lst = []
for i in range(0, len(lst1)):
    res_lst.append(lst1[i] + lst2[i])
print(res_lst)

[5, 7, 9]

In [ ]:
#13. Comparing Two Strings for Anagrams

str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True")
else:
    print("False")

True

In [ ]:
#14. Checking for Palindrome Using Extended Slicing Technique
def is_palindrome(s):
    # Convert the string to lowercase and remove spaces
    s = s.lower().replace(" ", "")
    # Check if the string is equal to its reverse
    return s == s[::-1]

# Test cases
print(is_palindrome("radar"))  # True
print(is_palindrome("level"))  # True
print(is_palindrome("hello"))  # False

True
True
False

In [ ]:
#14. Checking for Palindrome Using Extended Slicing Technique

str1 = "Kayak".lower()
str2 = "kayak".lower()

if(str1 == str2[::-1]):
    print("True")
else:
    print("False")

True

In [ ]:
#15. Counting the White Spaces in a String

string = "P r ogramm in g "
print(string.count(' '))

5

In [ ]:
#16. Counting Digits, Letters, and Spaces in a String

# Importing Regular Expressions Library
import re

name = 'Python is 1'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)


print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

1
8
1
8
2

In [ ]:
#17. Counting Special Characters in a String

# Importing Regular Expressions Library
import re
spChar = "!@#$%^&*()"

count = re.sub('[\w]+', '', spChar)
print(len(count))

10

In [ ]:
#18. Removing All Whitespace in a String

import re

string = "C O D E"
spaces = re.compile(r'\s+')
result = re.sub(spaces, '', string)
print(result)

CODE

In [ ]:
#19. Building a Pyramid in Python

floors = 3
h = 2*floors-1
for i in range(1, 2*floors, 2):
    print('{:^{}}'.format('*'*i, h))

  *
 ***
*****

In [ ]:
#20. Randomizing the Items of a List in Python

from random import shuffle

lst = ['Python', 'is', 'Easy']
shuffle(lst)
print(lst)

['Easy', 'is', 'Python']

In [12]:
### 21. Counting the occurrences of elements in the list
days = ['S','M','M','M','F','S']
y = set(days)

print([[x,days.count(x)] for x in y])

[['F', 1], ['S', 2], ['M', 3]]

In [14]:
## 23. Creating a NumPy Array in Python
### NumPy arrays are more flexible then lists in Python.

import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [15]:
## 24. Converting a List into a Set
### User can convert list into set by using `<set()>` function.


days = ['S','M','T','W','Tr','F','St']
ltos = set(days)
print(ltos)

{'Tr', 'S', 'T', 'St', 'W', 'F', 'M'}

In [16]:
## 25. Yield Keyword in Python
### The keyword in Python can turn any function into a generator. Yields work like a standard return keyword.

def days(index):
    day = ['S','M','T','W','Tr','F','St']
    yield day[index]
    yield day[index+1]

res = days(0)
print(next(res), next(res))

S M

In [22]:
# 26.Python program to remove character from string#

str ="python"
ch ="o"

print(str.replace(ch, " "))

pyth n

In [24]:
# 27. Python Program to count occurrence of characters in string

string = "pythonn"
char = "n"

count=0
for i in range(len(string)):
  if(string[i]==char):
    count = count + 1
print(count)

2

In [26]:
#28.Python program in to check string is anagrams or not

str1 = "python"
str2 = "yonthp"

if (sorted(str1) == sorted(str2)):
    print("Anagrams")
else:
    print("Not Anagrams")

Anagrams